{% extends "layout.html" %}

{% block body %}
<style>
 body  {
    background-color: #D98880;
 }
</style>


<div class="col-md-8 offset-md-2">
    <br><br>
    <h3>Çalma Listeleri</h3>
    <hr>
    <br>
    
    <h5>Başarıya Giden Notalar</h5>
    <hr>
    <iframe src="https://open.spotify.com/embed/playlist/0BMV2U3bS3cgjGk54zvFnV?utm_source=generator&theme=0" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
    <br><br><br>

    <h5>Maksimum Konsantrasyon</h5>
    <hr>
    <iframe src="https://open.spotify.com/embed/playlist/37i9dQZF1DX50uBtloazYo?utm_source=generator&theme=0" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
    <br><br><br>

    <h5>Klasik Müzik</h5>
    <hr>
    <iframe src="https://open.spotify.com/embed/playlist/1h0CEZCm6IbFTbxThn6Xcs?utm_source=generator&theme=0" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
    <br><br><br>    
    
    <h5>Piyano</h5>
    <hr>
    <iframe src="https://open.spotify.com/embed/playlist/2q7U9Dh7buTnrwHEWxcxiq?utm_source=generator&theme=0" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
    <br><br><br>

    <h5>Enerjik 90lar</h5>
    <hr>
    <iframe src="https://open.spotify.com/embed/album/4ZBTZtl0jjtrGMgNwxqMQE?utm_source=generator&theme=0" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
    <br><br><br>

    <h5>Enerjik 2000ler</h5>
    <hr>
    <iframe src="https://open.spotify.com/embed/playlist/37i9dQZF1DWYteTcNVQZNq?utm_source=generator&theme=0" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
</div>
<br><br><br>
{% endblock body %}