{% extends "layout.html" %}


{% block body %}
<style>
 body  {
    background-color: #EEADDE;
 }
</style>

<div class="row">
    <div class="col-md-7 offset-md-3">
        <h2>Soru Detayı</h2>
        <hr> 
            <div class="card">
            <div class="card-header">
               <h3 class="fw-bolder mb-1">{{question.title}}</h3>
            </div>
            <div class="card-body" style="margin-left:18px">
            <br>
                <p class="card-text">{{question.content|safe}}</p>
            <br>
            </div>
            <div class="card-footer">
                <small class="text-muted" >Oluşturulma Tarihi: {{question.created_date}}</small>
                <br>
                <small class="text-muted">{{question.author.username}} tarafından soruldu.</small>
            </div>
            </div>
            <br>
            <a href = "/questions" type="button" class="btn btn-danger" style="margin-left:40px">Geri Dön</a>
    </div>
    <hr>   
</div>
<div class="row">
    <div class="col-md-7 offset-md-3">
        
        <br>
        <hr>

        <h2>Yorumlar</h2>
        <hr>
        {% if comments %}
            {% for comment in comments  %}
                <div class="card" style="margin-left:18px">
                <div class="card-header">
                <h3 class="fw-bolder mb-1">{{comment.comment_author}}</h3>
                </div>
                <div class="card-body" style="margin-left:18px">
                <br>
                    <p class="card-text">{{comment.comment_content}}</p>
                <br>
                </div>
                <div class="card-footer">
                    <small class="text-muted">{{comment.comment_date}}</small>
                </div>
                </div>

            {% endfor %}
        {% else %}
        <div class = "alert alert-warning">
            Bu soruya henüz cevap verilmedi.
        </div>
        {% endif %}

        <div class="card my-4" style="background: transparent">
            <h5 class="card-header" style="background: transparent">Soruyu cevapla:</h5>
            <div class="card-body">
                <form method = "post" action = "/comment/{{question.id}}">
                    {% csrf_token %}    
                    <div class="form-group" style="margin-left:10px; margin-right:10px">
                        <label for="formGroupExampleInput">İsim</label>
                        <input name = "comment_author" type="text" class="form-control" id="formGroupExampleInput" placeholder="İsminizi girin">
                    </div>
                    <div class="form-group" style="margin-left:10px; margin-right:10px">
                        <label for="formGroupExampleInput">Cevap</label>
                        <textarea name = "comment_content" class="form-control" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Cevapla</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock body %}